<div class="existing-courses-content">

  <div class="course-loader-title">
    <span class="course-loader-title-span">
      Administrador de Cursos
    </span>
    
  </div>

  

  <div class="course-loader">  
    <div class="course-element mat-elevation-z2" *ngFor="let course of this.database.existingCoures; let i = index">
      <div class="course-name">
          <span class="course-loader-name-span">
            {{ course.name }}
          </span>
      </div>
      <button mat-button class="button-edit" (click)="editCourse(i)">Editar Curso</button>
      <button mat-button class="button-delete" (click)="deleteCourse(i)">Eliminar Curso</button>
    </div>
  </div> 
  
  <div class="course-delete">
    <div class="course-delete-field">Nombre de curso a eliminar:</div>
    <mat-form-field class="course-form">
        <input matInput placeholder="valor" [(ngModel)]="deleteValue" [ngModelOptions]="{standalone: true}"> 
    </mat-form-field>
    <button class="course-delete-button" (click)="deleteDatabaseCourse()">Borrar Curso</button>

  </div>

  <div class="menu-new-course">
    <button mat-button (click)="showNewCourse()">Agregar Nuevo Curso</button>
  </div>

  <div class="home-buttons">
    <button mat-button class="home-page-button" (click)="homePage()">Volver a Inicio</button> 
  </div>
</div>

