app-existing-courses{


display: flex;
flex-direction: column;

.courseName {
    margin-left: 20px;
    margin-top: 20px;
  
}
.course-loader-input { 
    display: flex;
}

.editSection { 
    display: flex;
    flex-direction: column;
}

.name-delete-field { 
    margin-top: 20px;
    margin-right: 20px;
}


}