<div class="app-content">

  <div id="parent" #parent></div>

  <div class="app-parent-menu" *ngIf="!childOpen">

    <div class="menu-title">
      <span class="menu-title-p">Admin IGUCA</span>
    </div>

    <div class="menu-new-course">
      <button mat-button (click)="showNewCourse()">Agregar Nuevo Curso</button>
    </div>

    <div class="menu-old-courses">
      <button mat-button (click)="showExistingCourses()">Ver Cursos Existentes</button>
    </div>

    <div class="menu-rendiciones">
      <button mat-button>Ver Rendiciones Existentes</button>
    </div>

    <div class="menu-logo">
      <img class="menu-logo-img" [src]="igucaLogo"/>
    </div>

  </div>

</div>
