<div class="info-course-loader-content">



  <form class="uploader">
    <mat-form-field class="uploader">
      <input matInput placeholder="Nombre de la empresa" value="" [(ngModel)]="courseName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

  </form>

  <div class="container">
      <div class="row">

          <div class="col-md-3">

              <h3>Selecione los docomentos del curso</h3>


              Seleción Multiple
              <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

              Seleción Unica
              <input type="file" ng2FileSelect [uploader]="uploader" />
          </div>

          <div class="col-md-9" style="margin-bottom: 40px">

              <h3>Documentos</h3>
              <p>Cantidad de docuemntos a subir: {{ uploader?.queue?.length }}</p>

              <table class="table">
                  <thead>
                  <tr>
                      <th width="50%">Nombre</th>
                      <th>Size</th>
                      <th>Progress</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of uploader.queue">
                      <td><strong>{{ item?.file?.name }}</strong></td>
                      <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                      <td *ngIf="uploader.isHTML5">
                          <div class="progress" style="margin-bottom: 0;">
                              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                          </div>
                      </td>
                      <td class="text-center">
                          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                          <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                      </td>
                      <td nowrap>
                          <button type="button" class="btn btn-success btn-xs"
                                  (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                              <span class="glyphicon glyphicon-upload"></span> Upload
                          </button>
                          <button type="button" class="btn btn-warning btn-xs"
                                  (click)="item.cancel()" [disabled]="!item.isUploading">
                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                          </button>
                          <button type="button" class="btn btn-danger btn-xs"
                                  (click)="item.remove()">
                              <span class="glyphicon glyphicon-trash"></span> Remove
                          </button>
                      </td>
                  </tr>
                  </tbody>
              </table>

              <div>
                  <div>
                      Queue progress:
                      <div class="progress" style="">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                      </div>
                  </div>
                  <button type="button" class="btn btn-success btn-s"
                          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                      <span class="glyphicon glyphicon-upload"></span> Upload all
                  </button>
                  <button type="button" class="btn btn-warning btn-s"
                          (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                  </button>
                  <button type="button" class="btn btn-danger btn-s"
                          (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                      <span class="glyphicon glyphicon-trash"></span> Remove all
                  </button>
              </div>

          </div>

      </div>

  </div>

Seccion de preguntas:

<ul>
    <li *ngFor="let question of model.getFinalExam();">
      <div class="questionDisplay">
        <div class="mainQuestionDisplay">
            <mat-list-item role="listitem">{{question[0]}}</mat-list-item>
          </div>

          <div class="choiceAnswerDisplay">
            <mat-list-item role="listitem">{{question[1]}}</mat-list-item>
            <mat-list-item role="listitem">{{question[2]}}</mat-list-item>
            <mat-list-item role="listitem">{{question[3]}}</mat-list-item>
            <mat-list-item role="listitem">{{question[4]}}</mat-list-item>
            <mat-list-item role="listitem">{{question[5]}}</mat-list-item>
          </div>
        <div class="buttonQuestionDysplay">
          <button mat-button >Eliminar</button>
        </div>
      </div>
    </li>
</ul>

<form>
  <div class="mainQuestion">
    <mat-form-field>
      <input matInput placeholder="Pregunta 1:" [(ngModel)]="mainQuestion" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>

  <mat-radio-group>
    <div class="choiceQuestion">
      <mat-form-field>
        <input matInput placeholder="Alternativa a:"  [(ngModel)]="aChoiceAnswer" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-radio-button value="1">a</mat-radio-button>
    </div>

    <div class="choiceQuestion">
      <mat-form-field>
        <input matInput placeholder="Alternativa b:" [(ngModel)]="bChoiceAnswer" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-radio-button value="2">b</mat-radio-button>
    </div>

    <div class="choiceQuestion">
      <mat-form-field>
        <input matInput placeholder="Alternativa c:" [(ngModel)]="cChoiceAnswer" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-radio-button value="3">c</mat-radio-button>
    </div>

    <div class="choiceQuestion">
      <mat-form-field>
        <input matInput placeholder="Alternativa d:" [(ngModel)]="dChoiceAnswer" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-radio-button value="4">d</mat-radio-button>
    </div>
  </mat-radio-group>

  <button mat-button (click)="pushQuestion()">Agregar</button>

</form>









</div>
