app-info-course-loader {

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;

    .choiceQuestion {
      margin-left: 30px;
      display: flex;
    }

    .choiceAnswerDisplay {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-left: 10px;
    }

    .loaader-content {
      height: 100%;
      width: 100%;
      flex-direction: column;
      display: flex;
    }

    .info-course-loader-content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .mat-button {
      background-color: green;

    }

    .mat-form-field {
      display: flex;
      width: 100%;
    }

    .mat-input-infix.mat-form-field-infix {
      width: 600px;
    }

    .uploader {
      margin-top: 15px;
    }
    .question {
    margin-top: 50px;
    }
    .questionDisplay {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }


}
