<div class="loader-content">

  <div class="loeader-content-title">
    <p>Cargar cursos</p>
  </div>

  <div class="loader-course-name">
    <form class="loader-course-name-form">
      <mat-form-field class="loader-course-name-full-width">
        <input matInput placeholder="Nombre del curso" [(ngModel)]="nameCourse" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>
  </div>

  <button mat-button (click)="sendCourse()">Cargar curso</button>

  nameCourse
  {{nameCourse}}


</div>
